{{page-title 'Validatable'}}
{{concat 'isValidated:' this.model.isValidated}}
{{#if this.model.isValid}}
  <p>Valid</p>
{{else}}
  <p>Invalid</p>
{{/if}}
{{#each this.model.errors as |error|}}
  <div class='error'>
    {{error.message}}
  </div>
{{/each}}

<hr />

{{#each this.model.errors.rating as |error|}}
  <div class='error'>
    {{error.message}}
    <br />
  </div>
{{/each}}
<button type='button' {{on 'click' this.validate}}>
  Validate
</button>
{{outlet}}